<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title || "Kickball Project" %></title>
    <link rel="stylesheet" href="../public/home.css" type="text/css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
