<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title || "Kickball Project" %></title>
    <link rel="stylesheet" href="../public/home.css" type="text/css">
  </head>

  <body>
    <% if @show_home %>
      <a href="/">Back to home</a>
      <hr>
    <% end %>

    <%= yield %>
  </body>
</html>
